.p-datatable-gridlines {
  overflow: auto; /* Ensures proper scrolling */
}

th {
  padding: 10px;
  font-size: 10px;
}

td {
  padding: 9px;
  font-size: 12px;
  text-align: center;
}
.p-datatable-gridlines table {
    border-collapse: collapse;
  }
  
  .p-datatable-gridlines th,
  .p-datatable-gridlines td {
    border: 1px solid #ddd; /* Light border for gridlines */
  }
  
  .p-datatable-gridlines th {
    background-color: #f9f9f9; /* Slightly shaded header */
    text-align: left; /* Align text */
  }
  
  .p-datatable-gridlines {
    border: 1px solid #ccc; /* Outer table border */
  }
  .p-datatable-gridlines .month-column {
    white-space: nowrap;
  }
  :host ::ng-deep svg.p-icon.p-sortable-column-icon {
    scale: 0.75;
}