<div class=" w-[90vw] z-10 mt-2 mb-5 h-auto ">
  <p-table
    [value]="SalesInfo[0]"
    [rows]="3"
    styleClass="p-datatable-gridlines"
    [responsiveLayout]="'scroll'"
    [scrollable]="true"
    scrollHeight="400px"
    class="p-datatable-gridlines"
  >
    <!-- Table Header -->
    <ng-template pTemplate="header">
      <tr>
        <th  pSortableColumn="locationid" style="min-width: 70px;">Location
          <p-sortIcon field="locationid" />
        </th>
        <th  pSortableColumn="Months" style="min-width: 70px;">Month
          <p-sortIcon field="Months" />
        </th>
        <th pSortableColumn="ClosingStocks" style="min-width: 70px;">Closing Stocks
          <p-sortIcon field="ClosingStocks" />
        </th>
        <th pSortableColumn="WorkshopSale" style="min-width: 70px;">Workshop Sale
          <p-sortIcon field="WorkshopSale" />
        </th>
        <th pSortableColumn="Counter"style="min-width: 70px;">Counter
          <p-sortIcon field="Counter" />
        </th>
        <th pSortableColumn="StockTransferOut" style="min-width: 70px;">Stock Transfer Out
          <p-sortIcon field="StockTransferOut" />
        </th>
        <th pSortableColumn="AdjustmentOut" style="min-width: 70px;">Adjustment Out
          <p-sortIcon field="AdjustmentOut" />
        </th>
        <th pSortableColumn="PaidSale" style="min-width: 70px;">Paid Sale
          <p-sortIcon field="PaidSale" />
        </th>
        <th pSortableColumn="WarrantySale" style="min-width: 70px;">Warranty Sale
          <p-sortIcon field="WarrantySale" />
        </th>
        <th pSortableColumn="FOCSales" style="min-width: 70px;">FOC Sales
          <p-sortIcon field="FOCSales" />
        </th>
        <th pSortableColumn="GoodwillSale" style="min-width: 70px;">Goodwill Sale
          <p-sortIcon field="GoodwillSale" />
        </th>
        <th pSortableColumn="NormalPurchase" style="min-width: 70px;">Normal Purchase
          <p-sortIcon field="NormalPurchase" />
        </th>
        <th pSortableColumn="StockTransferIn" style="min-width: 70px;">Stock Transfer In
          <p-sortIcon field="StockTransferIn" />
        </th>
        <th pSortableColumn="JobcardReturnValue" style="min-width: 70px;">Jobcard Return Value
          <p-sortIcon field="JobcardReturnValue" />
        </th>
        <th pSortableColumn="CounterSaleReturn" style="min-width: 70px;">Counter Sale Return
          <p-sortIcon field="CounterSaleReturn" />
        </th>
        <th pSortableColumn="EmergencyPurchase" style="min-width: 70px;">Emergency Purchase
          <p-sortIcon field="EmergencyPurchase" />
        </th>
        <th pSortableColumn="VORPurchase" style="min-width: 70px;">VOR Purchase
          <p-sortIcon field="VORPurchase" />
        </th>
        <th pSortableColumn="CoDlrPurchase" style="min-width: 70px;">Co Dealer Purchase
          <p-sortIcon field="CoDlrPurchase" />
        </th>
        <th pSortableColumn="OEMPurchase" style="min-width: 70px;">OEM Purchase
          <p-sortIcon field="OEMPurchase" />
        </th>
        <th pSortableColumn="idk"style="min-width: 70px;">IDK
          <p-sortIcon field="idk" />
        </th>
        <th pSortableColumn="Others"style="min-width: 70px;">Others
          <p-sortIcon field="Others" />
        </th>
        
      </tr>
    </ng-template>

    <!-- Table Body -->
    <ng-template pTemplate="body" let-sale let-rowIndex="rowIndex">
      <tr *ngIf="rowIndex < SalesInfo[0].length">
        <!-- First array data -->
        <td>{{sale.locationName}}</td>
        <td>{{ sale.Months }}</td>
        <td>{{ sale.ClosingStocks }}</td>
        <td>{{ sale.WorkshopSale }}</td>
        <td>{{ sale.Counter }}</td>
        <td>{{ sale.StockTransferOut }}</td>
        <td>{{ sale.AdjustmentOut }}</td>
        <td>{{ sale.PaidSale }}</td>
        <td>{{ sale.WarrantySale }}</td>
        <td>{{ sale.FOCSales }}</td>
        <td>{{ sale.GoodwillSale }}</td>
        <td>{{ sale.NormalPurchase }}</td>
        <td>{{ sale.StockTransferIn }}</td>
        <td>{{ sale.JobcardReturnValue }}</td>
        <td>{{ sale.CounterSaleReturn }}</td>
        <td>{{ sale.EmergencyPurchase }}</td>
        <td>{{ sale.VORPurchase }}</td>
        <td>{{ sale.CoDlrPurchase }}</td>
        <td>{{ sale.OEMPurchase }}</td>
        <td>{{ sale.idk }}</td>
        <td>{{ sale.Others }}</td>
        
      </tr>
      
    </ng-template>
  </p-table>
</div>
