<div class="flex flex-col lg:flex-row w-auto h-auto overflow-hidden">
    <!-- First Div -->
    <div class="w-full lg:w-[70vw] h-auto">
      <div class="flex items-center justify-center w-auto h-10 bg-customgreen pt-4">
        <h2 class="text-white text-sm sm:text-xl"><u>Smart Inventory Management</u></h2>
      </div>
      <div class="flex w-auto h-auto items-center justify-around bg-customgreen pt-5 pb-5">
        <div class="flex flex-col">
          <h2 class="text-white text-sm sm:text-xl flex justify-center">3144</h2>
          <h2 class="text-white text-[12px] sm:text-m">Active Location</h2>
        </div>
        <div class="flex flex-col">
          <h2 class="text-white text-sm sm:text-xl flex justify-center">₹ 1026 Cr</h2>
          <h2 class="text-white text-[12px] sm:text-m">Inventory Under Management</h2>
        </div>
        <div class="flex flex-col">
          <h2 class="text-white text-sm sm:text-xl flex justify-center">₹ 154 Cr</h2>
          <h2 class="text-white text-[12px] sm:text-m">Inventory Optimized</h2>
        </div>
      </div>
      <div class="flex w-auto h-auto bg-customgreen2 items-center justify-center pt-16 pb-16 lg:pt-10 lg:pb-10">
        <img src="SparecareLogopng.png" alt="Sparecare Logo" width="400px" height="200px">
      </div>
      <div class="flex items-center justify-center w-auto h-10 bg-customgreen pt-4">
        <h2 class="text-white text-xl"><u>Non-Moving Parts Liquidation</u></h2>
      </div>
      <div class="flex w-auto h-auto items-center justify-around bg-customgreen pt-5 pb-5">
        <div class="flex flex-col">
          <h2 class="text-white  sm:text-xl flex justify-center">1996</h2>
          <h2 class="text-white text-sm sm:text-m">Active Location</h2>
        </div>
        <div class="flex flex-col">
          <h2 class="text-white  sm:text-xl flex justify-center">₹ 132 Cr</h2>
          <h2 class="text-white text-sm sm:text-m">Inventory Pool</h2>
        </div>
        <div class="flex flex-col">
          <h2 class="text-white  sm:text-xl flex justify-center">₹ 39 Cr</h2>
          <h2 class="text-white text-sm sm:text-m">GMV</h2>
        </div>
      </div>
    </div>
  

    <!-- Login Div -->
    <div class="w-full lg:w-[30vw] h-auto order-2 lg:order-none">
      <div class="relative w-full h-full">
        <img
          src="Background_image.png"
          alt="Background"
          class="absolute inset-0 w-full h-full object-cover -z-10"
        />
        <div class="flex flex-col w-auto h-auto">
          <div class="flex items-center justify-center lg:pt-10 pt-3  ">
            <h1 class="text-3xl text-black font-bold">Welcome!</h1>
          </div>
          <form class="lg:mt-16 mt-5"  [formGroup]="userLoginInputDetails" (ngSubmit)="onSubmit()">
            <div class="flex flex-col w-auto h-auto justify-center pl-16">
              <label for="username">Username</label>
              <input
                formControlName="userName"
                type="text"
                class="md:w-[70vw] lg:w-[20vw] w-[70vw] h-8 rounded p-4 shadow-xl"
              />
            </div>
            <div class="flex flex-col w-auto h-auto justify-center lg:mt-5 mt-2 pl-16 relative">
              <label for="password">Password</label>
              <input
                formControlName="userPassword"
                type="password"
                class="md:w-[70vw] lg:w-[20vw] w-[70vw] h-8 rounded p-4 shadow-xl"
              />
            </div>
            <div class="flex justify-end mt-2 lg:pr-14 sm:pr-40 pr-14">
              <h4 class="text-sm cursor-pointer">Forgot Password?</h4>
            </div>
            <div class="flex justify-center mt-2 mb-4">
              <button class="w-[15vw] text-white bg-customgreen2 h-8 rounded shadow-xl">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
<div class="flex items-center justify-around w-auto h-auto pt-3 pb-3 bg-[#e5e5e6]">
    <h1 class="text-sm">Smart Inventory Management</h1>
    <h1 class="text-sm">Dead Stock Liquidation</h1>
    <h1 class="text-sm">Operational Excellence</h1>
    <h1 class="text-sm">Smart Inventory Audit</h1>
</div>
<div class="flex flex-row w-full h-20 items-center justify-between">

  <div class="marquee flex items-center">
    <div class="marquee-content">
      <img src="logistics/DelhiveryExpress.png" alt="" width="40px" height="60px">
      <img src="logistics/DelihverySurface.png" alt="" width="40px" height="60px">
      <img src="logistics/wefast.png" alt="" width="40px" height="40px">
      <img src="logistics/BlueDart.png" alt="" width="40px" height="40px">
      <img src="logistics/DelhiveryExpress.png" alt="" width="40px" height="60px">
      <img src="logistics/DelihverySurface.png" alt="" width="40px" height="60px">
      <img src="logistics/wefast.png" alt="" width="40px" height="40px">
      <img src="logistics/BlueDart.png" alt="" width="40px" height="40px">
      <img src="logistics/DelhiveryExpress.png" alt="" width="40px" height="60px">
      <img src="logistics/DelihverySurface.png" alt="" width="40px" height="60px">
      <img src="logistics/wefast.png" alt="" width="40px" height="40px">
      <img src="logistics/BlueDart.png" alt="" width="40px" height="40px">
      <img src="logistics/DelhiveryExpress.png" alt="" width="40px" height="60px">
      <img src="logistics/DelihverySurface.png" alt="" width="40px" height="60px">
      <img src="logistics/wefast.png" alt="" width="40px" height="40px">
      <img src="logistics/BlueDart.png" alt="" width="40px" height="40px">
    </div>
  </div>
    <div class="">
        <img src="logistics\ICICI bank.png" alt="" width="350px" height="100px">
    </div>
      <div class="marquee flex items-center">
        <div class="marquee-content">
          <img src="brands\ashokleyland.jpg" alt="" width="25px" height="60px">
          <img src="brands\bajaj.jpg" alt="" width="25px" height="60px">
          <img src="brands\baratbenz.jpg" alt="" width="25px" height="60px">
          <img src="brands\eicher.png" alt="" width="25px" height="60px">
          <img src="brands\bmw.jpg" alt="" width="25px" height="60px">
          <img src="brands\fiat.jpg" alt="" width="25px" height="60px">
          <img src="brands\jcb.png" alt="" width="50px" height="60px">
          <img src="brands\mahindra.png" alt="" width="50px" height="60px">
          <img src="brands\escort.JPG" alt="" width="25px" height="60px">
          <img src="brands\hero.jpg" alt="" width="25px" height="60px">
          <img src="brands\mg.jpg" alt="" width="50px" height="60px">
          <img src="brands\nissan.jpg" alt="" width="50px" height="60px">
          <img src="brands\honda.jpg" alt="" width="25px" height="60px">
          <img src="brands\mahindratruckandbus.jpg" alt="" width="50px" height="60px">
          <img src="brands\kia.jpg" alt="" width="50px" height="60px">
          <img src="brands\renault.jpg" alt="" width="50px" height="60px">
          <img src="brands\royalenfield.jpg" alt="" width="50px" height="60px">
          <img src="brands\honda2w.jpg" alt="" width="50px" height="60px">
          <img src="brands\triumph.png" alt="" width="50px" height="60px">
          <img src="brands\volkwegan.jpg" alt="" width="50px" height="60px">
          <img src="brands\sukuzi.jpg" alt="" width="50px" height="60px">
          <img src="brands\skoda.jpg" alt="" width="50px" height="60px">
          <img src="brands\tvs.jpg" alt="" width="50px" height="60px">
          <img src="brands\mercedese.jpg" alt="" width="50px" height="60px">
          <img src="brands\hyundai.jpg" alt="" width="50px" height="60px">
          
        </div>
      </div>
</div>

