<div class=" w-[90vw] h-auto rounded-sm">
  <p-table
  [value]="PartDetails"
    [rows]="1"
    styleClass="p-datatable-gridlines"
    [responsiveLayout]="'scroll'"
    class="p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Part Number</th>
        <th>Part ID</th>
        <th>Latest Part No.</th>
        <th>Description</th>
        <th>MOQ</th>
        <th>Category</th>
        <th>Landed Cost</th>
        <th>MRP </th>
      </tr>

    </ng-template>
    <ng-template pTemplate="body" let-PartDetails>
      <tr>
        <td>{{ PartDetails.partnumber }}</td>
        <td>{{ PartDetails.partid }}</td>
        <td>{{ PartDetails.LatestPartno }}</td>
        <td>{{ PartDetails.partdesc }}</td>
        <td>{{ PartDetails.moq }}</td>
        <td>{{ PartDetails.category }}</td>
        <td>{{ PartDetails.landedcost }}</td>
        <td>{{ PartDetails.mrp}}</td>

        
      </tr>
    </ng-template>
  </p-table>
</div>
